<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482537718189-8olv4rg7lj5a28g9dn9thfvpngssui5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482537718189-8olv4rg7lj5a28g9dn9thfvpngssui5o</string>
	<key>API_KEY</key>
	<string>AIzaSyA5OvuNfWTfQfwoYEwwbOKcBk3O22d8EAM</string>
	<key>GCM_SENDER_ID</key>
	<string>482537718189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stips2</string>
	<key>PROJECT_ID</key>
	<string>stips2</string>
	<key>STORAGE_BUCKET</key>
	<string>stips2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482537718189:ios:b0e8594ef979d15add2124</string>
</dict>
</plist>